src/main/app/flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="flowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/main" allowedMethods="get" doc:name="HTTP"/>
        <flow-ref name="flowFlow1" doc:name="Flow Reference"/>
        <flow-ref name="flowSub_Flow" doc:name="Flow Reference"/>
        <set-payload value="Name:#[message.outboundProperties.Name]   Age:#[flowVars.id]  id:#[sessionVars.age]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="flowFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/private" allowedMethods="get" doc:name="HTTP"/>
        <set-property propertyName="Name" value="#[message.inboundProperties.'http.query.params'.Name]" doc:name="Property"/>
        <set-payload value="#[message.outboundProperties.Name]" doc:name="Set Payload"/>
        <set-payload value="#[&quot;asaaS&quot;]

#[payload]" doc:name="Set Payload"/>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <sub-flow name="flowSub_Flow">
        <set-variable variableName="id" value="#[message.inboundProperties.'http.query.params'.id]" doc:name="Variable"/>
        <set-session-variable variableName="age" value="#[message.inboundProperties.'http.query.params'.age]" doc:name="Session Variable"/>
    </sub-flow>
</mule>
